h1 Hi!
p Diese Web-Applikation ermöglicht es dir deine Lösungen für die Übungen in der Lehrveranstaltung "Webentwicklung"
  via git hochzuladen und verwaltet die Punkte zu deinen Lösungen.

p Mehr Informationen zu der Benutzung von Aris gibt es auf dem <a href="http://portal.htw-webtech.com">Lernportal</a>.
