h1 Hi!
p Diese Web-Applikation ermöglicht es für die Übungen in der Lehrveranstaltung "Webentwicklung" deinen Quellcode
  in Form von funtkionalen HTML-Webseiten oder Rails-Applikationen einzureichen und dafür Punkte zu sammeln.

p Mehr Informationen zu der Benutzung von Aris gibt es auf dem <a href="http://portal.htw-webtech.com">Lernportal</a>.
