- if current_user.admin?
  = button_to 'Create user and apps', admin_fixtures_create_path
  = button_to 'Recreate apps yml', admin_fixtures_create_yml_path
  = button_to 'Recreate jenkins yaml', admin_jenkins_path
